In [30]:
### Cleaning Mortality Trend data ###
import pandas as pd
import numpy as np
import string

covid = pd.read_csv('covid19mortality.csv')
heart = pd.read_csv('heartmortality.csv') #Year for every data observation is 2013
stroke = pd.read_csv('strokemortality.csv') #Year for every data observation is 2017

covid.head()

,Data as of,Start Date,End Date,Year,Month,Group,State,Indicator,Non-Hispanic White,Non-Hispanic Black or African American,Non-Hispanic American Indian or Alaska Native,Non-Hispanic Asian,Non-Hispanic Native Hawaiian or Other Pacific Islander,Non Hispanic more than one race,Hispanic or Latino,Footnote
0,03/30/2022,01/01/2020,03/26/2022,2020-2022,NaN,By Total,United States,Count of COVID-19 deaths,630742.0,139867.0,10799.0,30750.0,2105.0,3721.0,158481.0,NaN
1,03/30/2022,01/01/2020,03/26/2022,2020-2022,NaN,By Total,United States,Distribution of COVID-19 deaths (%),64.4,14.3,1.1,3.1,0.2,0.4,16.2,NaN
2,03/30/2022,01/01/2020,03/26/2022,2020-2022,NaN,By Total,United States,Unweighted distribution of population (%),59.7,12.6,0.7,5.9,0.2,2.3,18.6,NaN
3,03/30/2022,01/01/2020,03/26/2022,2020-2022,NaN,By Total,United States,Weighted distribution of population (%),40.8,13.5,0.4,9.6,0.2,2.2,33.4,NaN
4,03/30/2022,01/01/2020,12/31/2020,2020,NaN,By Year,United States,Count of COVID-19 deaths,232835.0,61541.0,4615.0,13592.0,695.0,1144.0,69474.0,NaN

In [42]:
#Drop columns that are not necessary for analysis
useCols = []
data = {}
for col in covid.columns:
    if col != 'Year' and col != 'Footnote':
        data[col] = covid[col]
coviddf = pd.DataFrame(data) 
coviddf.head()

heartNotUsed = ['Year','LocationDesc', 'DataSource','Class','Topic','Data_Value_Unit',
                   'Data_Value_Type','Data_Value_Footnote_Symbol', 'StratificationCategory1',
                   'StratificationCategory2', 'TopicID', 'LocationID','Location 1','GeographicLevel']
heartCols = []
heartData = {}
for col in heart.columns:
    if col not in heartNotUsed:
        heartData[col] = heart[col]
heartDf = pd.DataFrame(heartData)
heartDf.head()

strokeNotUsed = ['Year','LocationDesc','DataSource','Class','Topic','Data_Value_Unit','Data_Value_Type',
                     'StratificationCategory1','Data_Value_Footnote_Symbol'
                     ,'StratificationCategory2','TopicID','LocationID','Y_lat','X_lon','GeographicLevel']
stokeCols = []
strokeData = {}
for col in stroke.columns:
    if col not in strokeNotUsed:
        strokeData[col] = stroke[col]
strokeDf = pd.DataFrame(strokeData)
strokeDf.head()

  LocationAbbr  Data_Value Data_Value_Footnote Stratification1 Stratification2
0           AK         2.0                 NaN         Overall         Overall
1           AK         0.0                 NaN         Overall         Overall
2           AK        67.2                 NaN         Overall         Overall
3           AK       104.6                 NaN         Overall         Overall
4           AK         NaN   Insufficient Data         Overall         Overall

In [63]:
#We want data analysis to be easy to process and less time to take, so let's clarify some column values and
#create a legend key to shorten the column values to look through the dataset
covid = covid.rename(columns = {'Non-Hispanic White':'W', 'Non-Hispanic Black or African American': 'B/AA',
                       'Non-Hispanic American Indian or Alaska Native':'AIAN', 'Non-Hispanic Asian':'A',
                        'Non-Hispanic Native Hawaiian or Other Pacific Islander': 'NH/OPI',
                        'Non Hispanic more than one race': 'MultipleRaces', 'Hispanic or Latino' : 'H/L'})

heart = heart.rename(columns = {'Data_Value': 'Deaths per 100,000', 'Data_Value_Footnote': 'Sufficiency?'
                               ,'Stratification1': 'Gender', 'Stratification2': 'Race/Ethnicity'})

stroke = stroke.rename(columns = {'Data_Value': 'Deaths per 100,000', 'Data_Value_Footnote': 'Sufficiency?'
                                 ,'Stratification1': 'Gender','Stratification2': 'Race/Ethnicity'})

In [64]:
#heart = heart.drop(heart.index[heart['Sufficiency?'] == 'Insufficient Data'],inplace = True)
heart = heart[heart['Sufficiency?'] != 'Insufficient Data']
stroke = stroke[stroke['Sufficiency?'] != 'Insufficient Data']

heart = heart.drop('Sufficiency?',1) #All data are now sufficient for data analysis
stroke = stroke.drop('Sufficiency?',1) #Therefore we have no use for this column
print(heart)

      LocationAbbr  Deaths per 100,000   Gender  \
0               AK               147.4  Overall
1               AK               229.4  Overall
2               AK               255.5  Overall
3               AK               305.5  Overall
5               AK               281.7  Overall
...            ...                 ...      ...
59068           WY               331.9     Male
59069           WY               175.7   Female
59073           WY               462.0  Overall
59074           WY               586.7     Male
59075           WY               351.3   Female

                           Race/Ethnicity
0                                 Overall
1                                 Overall
2                                 Overall
3                                 Overall
5                                 Overall
...                                   ...
59068                            Hispanic
59069                            Hispanic
59073  American Indian and Alaskan Native
59074  American Indian and Alaskan Native
59075  American Indian and Alaskan Native

[34361 rows x 4 columns]

C:\Users\patas\AppData\Local\Temp/ipykernel_15400/2460707862.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  heart = heart.drop('Sufficiency?',1) #All data are now sufficient for data analysis
C:\Users\patas\AppData\Local\Temp/ipykernel_15400/2460707862.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  stroke = stroke.drop('Sufficiency?',1) #Therefore we have no use for this column