In [1]:
# 1. IMPORTS Done
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import zscore
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB, GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, r2_score, auc
import matplotlib.colors as mcolors

In [4]:
# 2. Data :: Loading, reading, exploring

heartML2 = pd.read_csv("heartML2.csv")
print(heartML2.shape)
heartML2.info()
heartML2.head(10)

(245, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   State                            244 non-null    object
 1   Race                             245 non-null    object
 2   Sum of Deaths per 10000 by Race  245 non-null    float64
 3   Output                           245 non-null    int64
dtypes: float64(1), int64(1), object(2)
memory usage: 7.8+ KB

,State,Race,Sum of Deaths per 10000 by Race,Output
0,AK,American Indian and Alaskan Native,7237.5,0
1,AK,Asian and Pacific Islander,1945.2,0
2,AK,Black,2642.7,0
3,AK,Hispanic,520.3,0
4,AK,White,5234.4,0
5,AL,American Indian and Alaskan Native,1585.4,0
6,AL,Asian and Pacific Islander,5868.9,0
7,AL,Black,34818.3,1
8,AL,Hispanic,7724.3,0
9,AL,White,30424.8,1