In [ ]:
# ML analysis 

### STEPS TO BE ACCOMPLISHED
#### 1. IMPORTS
#### 2. Data :: Download, Load, Explore, Preprocessing
#### 3. Exploratory Data Visualization
#### 4. Model Building And Training :: Build Logistic Regression Model, Training the Model
#### 5. Evaluation :: Evaluating Training Set, Evaluating Testing Set
#### 6. Generating Classification Report
#### 7. Visualizing using Confusion Matrix
#### 8. Conclusion

In [15]:
# 1. IMPORTS Done
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import zscore
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB, GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, r2_score, auc

In [24]:
# 2. Data :: Loading, reading, exploring

heartML = pd.read_csv("heartML.csv")
print(heartML.shape)
heartML.info()
heartML.head(5)

(303, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [26]:
heart = pd.read_csv("heartmortality.csv")
print(heart.shape)
heart.info()
heart.head(5)

(59076, 19)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59076 entries, 0 to 59075
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        59076 non-null  int64
 1   LocationAbbr                59076 non-null  object
 2   LocationDesc                59076 non-null  object
 3   GeographicLevel             59076 non-null  object
 4   DataSource                  59076 non-null  object
 5   Class                       59076 non-null  object
 6   Topic                       59076 non-null  object
 7   Data_Value                  34361 non-null  float64
 8   Data_Value_Unit             59076 non-null  object
 9   Data_Value_Type             59076 non-null  object
 10  Data_Value_Footnote_Symbol  24715 non-null  object
 11  Data_Value_Footnote         24715 non-null  object
 12  StratificationCategory1     59076 non-null  object
 13  Stratification1             59076 non-null  object
 14  StratificationCategory2     59076 non-null  object
 15  Stratification2             59076 non-null  object
 16  TopicID                     59076 non-null  object
 17  LocationID                  59076 non-null  int64
 18  Location 1                  59058 non-null  object
dtypes: float64(1), int64(2), object(16)
memory usage: 8.6+ MB

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
0,2013,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,147.4,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013,"(55.440626, -161.962562)"
1,2013,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,229.4,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016,"(52.995403, -170.251538)"
2,2013,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,255.5,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020,"(61.159049, -149.103905)"
3,2013,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,305.5,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050,"(60.924483, -159.749655)"
4,2013,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060,"(58.754192, -156.694709)"

In [27]:
sum(heartML.duplicated())
heartML.drop_duplicates(inplace=True)

1

In [29]:
sum(heart.duplicated())

6564